:root {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #ECF6F6;
    color: $color-font;
}

p {
    font-family: "texte";
}

/*tous les titres en semi-bold*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: "titre", 'Times New Roman', Times, serif;
}



.menu {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

li {
    list-style: none;
    padding: 1rem;
}

/* style pour les boutons*/
.btn {
    background-color: $color-link;
    padding:1rem;
    a {
        text-decoration: none;
    }
}