/*=============================================================================
header
=============================================================================*/

.menu-principal {
    display: flex;
    justify-content: space-around;
}


/*=============================================================================
Footer
=============================================================================*/

.navbar-nav li {
    display: flex;
    flex-direction: column;
}